# Binary files
**/bin

# Build folders
**/build

# Makefiles
**/Makefile

# MacOS artifacts
.DS_Store

# VS-VSCode config
.vscode/
.vs/
config/*config.yaml
!config/default-config.yaml

# Python environments
*env/

# Project files
*.idb
*.pdb
*.xcworkspace/
**.xcodeproj
*.sln
**.vcxproj*

#ImGui artifacts
imgui.ini

*ignore*
**/__pycache__


# Results folders
profile-results/
fonts/
saves/


# Scripts
scripts/
!.dockerignore