[submodule "imgui"]
	path = vendor/imgui
	url = https://github.com/Ismael99Bueno/imgui.git
[submodule "imgui-sfml"]
	path = vendor/imgui-sfml
	url = https://github.com/Ismael99Bueno/imgui-sfml.git
[submodule "implot"]
	path = vendor/implot
	url = https://github.com/Ismael99Bueno/implot.git
[submodule "SFML"]
	path = vendor/SFML
	url = https://github.com/Ismael99Bueno/SFML.git
[submodule "vec-2D"]
	path = vec-2D
	url = https://github.com/Ismael99Bueno/vec-2D.git
[submodule "shapes-2D"]
	path = shapes-2D
	url = https://github.com/Ismael99Bueno/shapes-2D.git
[submodule "ini-parser"]
	path = ini-parser
	url = https://github.com/Ismael99Bueno/ini-parser.git
[submodule "debug-tools"]
	path = debug-tools
	url = https://github.com/Ismael99Bueno/debug-tools.git
[submodule "profile-tools"]
	path = profile-tools
	url = https://github.com/Ismael99Bueno/profile-tools.git
[submodule "rk-integrator"]
	path = rk-integrator
	url = https://github.com/Ismael99Bueno/rk-integrator.git
[submodule "sfml-primitives"]
	path = sfml-primitives
	url = https://github.com/Ismael99Bueno/sfml-primitives.git
[submodule "vector-view"]
	path = vector-view
	url = https://github.com/Ismael99Bueno/vector-view.git
[submodule "poly-physx"]
	path = poly-physx
	url = https://github.com/Ismael99Bueno/poly-physx.git
[submodule "poly-physx-app"]
	path = poly-physx-app
	url = https://github.com/Ismael99Bueno/poly-physx-app.git
[submodule "ables"]
	path = ables
	url = https://github.com/Ismael99Bueno/ables.git
