[submodule "imgui"]
	path = vendor/imgui
	url = https://github.com/ismawno/imgui.git
[submodule "implot"]
	path = vendor/implot
	url = https://github.com/ismawno/implot.git
[submodule "shapes-2D"]
	path = shapes-2D
	url = https://github.com/ismawno/shapes-2D.git
[submodule "rk-integrator"]
	path = rk-integrator
	url = https://github.com/ismawno/rk-integrator.git
[submodule "poly-physx"]
	path = poly-physx
	url = https://github.com/ismawno/poly-physx.git
[submodule "poly-physx-app"]
	path = poly-physx-app
	url = https://github.com/ismawno/poly-physx-app.git
[submodule "glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/ismawno/yaml-cpp.git
[submodule "spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lynx"]
	path = lynx
	url = https://github.com/ismawno/lynx.git
[submodule "glfw"]
	path = vendor/glfw
	url = https://github.com/ismawno/glfw.git
[submodule "premake-export-compile-commands"]
	path = vendor/premake-export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands.git
[submodule "cpp-kit"]
	path = cpp-kit
	url = https://github.com/ismawno/cpp-kit.git
